<h3>Mi carro</h3>

<table class="table table-hover table-stripped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>

        </tr>
    </thead>
    <tbody>

        @for (item of items; track $index) {
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.quantity * item.product.price}}</td>
                <td>
                <button class="btn btn-danger btn-sm" (click)="onDeleteCart(item.product.id)">eliminar</button>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-end">total:</td>
            <td colspan="2" class="text-start">{{total}}</td>
        </tr>
    </tbody>
</table>
